.main_container input {
  padding: 1.2rem;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: var(--primary);
  border: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
.main_container input::placeholder {
  color: white;
}
