* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: white;
  font-size: 1rem;
  scroll-behavior: smooth;
  overflow: hidden;
}

#root {
  height: 100dvh;
  width: 100dvw;
}

